doctype html
html
  head
    title Best Dance Academy 
    block style
    block scripts
      script(src='/jquery.js')
  body
    nav#navbar
      ul
        div#logo
          img(src="/static/danceLogo.jpg")
          | HDA
        li #[a(href="/") Home]
        li #[a(href="/") About]
        li #[a(href="/") Services]
        li #[a(href="/") Schedule]
        li #[a(href="/contact") Contact Us]

    block content
    footer#footer 
        | Copyright &copy; www.DanceAcademy.com. All Rights Reserved!